*
{
font-family:sans-serif;	
font-size: 14px;
color: #444444;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body, 
html,
ul
{
	padding: 0px;
	margin: 0px;
}

body {

	width: 100%;
	background: #DCDCDC;
}


ul {
	clear: both;
	list-style-type: none;
	background: #FFFFFF;
}

li {
	clear: both;
	padding-top: 4px;
	padding-bottom: 0px;
	padding-left: 4px;
	padding-right: 0px;
	margin-left: 0px;
	border-bottom:solid 1px #CCCCCC;
	display:block;
}



li a { 
	text-decoration:none;
	display: block;
	margin:0px;
}



/*-------------------------------------------------------------------------------------------*/


#wrapper {
	overflow: auto;
} 

#busy {
	display:none;
	position: absolute;
	top: 50%;
 	left: 50%;
	margin-left: -65px;
	margin-top: -31px;
	color: #FFFFFF;
	font-size: 24px;	
	z-index:6;
	background-color: #000000;
	opacity:0.5;
 	width:100px;
	height:32px;
	padding: 30px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
	
}
.header {
	position:  absolute;
 	background: #666666; /* for non-css3 browsers */
	background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#666666), color-stop(.6,#333));
	color: #000000;
	top: 0px; 
	height: 35px;
	width: 100%;
	border-bottom: solid 1px #444444;	
    
}

#contentwrapper{
float: left;
width: 100%;
}

#contentcolumn{
margin: 0 40px 0 40px; /*Margins for content column. Should be "0 RightColumnWidth 0 LeftColumnWidth*/
text-align: center;
	
}

#leftcolumn{
float: left;
width: 40px; /*Width of left column in percentage*/
margin-left: -100%;

}

#rightcolumn{
float: left;
width: 40px; /*Width of right column in pixels*/
margin-left: -40px; /*Set margin to that of -(RightColumnWidth)*/
text-align:right;

}


.innertube{
margin: 4px; /*Margins for inner DIV inside each column (to provide padding)*/
margin-top: 0;
}

.innertube h1{
color: #FFFFFF;
}


/*content main -------------------------------*/

#contentwrapper1{
float: left;
width: 100%;

}

#contentcolumn1{
margin: 0 0% 0 40%; /*Margins for content column. Should be "0 RightColumnWidth 0 LeftColumnWidth*/
}

#leftcolumn1{
float: left;
width: 40%; /*Width of left column in percentage*/
margin-left: -100%;
background: #C8FC98;
}

#rightcolumn1{
float: left;
width: 0%; /*Width of right column in pixels*/
margin-left: 0%; /*Set margin to that of -(RightColumnWidth)*/
background: #DCDCDC;
}

#main {
margin-top:40px;
}

#definitionList li{
word-wrap: break-word;
padding: 10px;
}

#kg-char{
  width: 100%; 
  height: 45px; 
  border: 0px solid; 
  text-align:center;
}
.bt {
    color: #DE5F66;
    font-size: 12pt;
	width: 40px; 
   height: 40px;
}

#searchindex{
	height: 30px;
	margin: 0px 5px 5px 5px;
}